<%= form_for([@image, @image.comments.build], url: create_comment_image_comment_index_path(@image.id)) do |f| %>
  <div class="field">
    <%= f.label :commentedby, "Commented by"  %><br />
    <%= f.text_field :commentedby %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
