  <%if user_signed_in?%>
  <%end%>
  <div class="image_enlarged">
    <%=image_tag @image.avatar_url.to_s%>
  </div>
   <div class="row-fluid">
    <div class="span6">
      <div class="span3">
        <span class="label">Title :</span>
      </div>
      <div class="span3">
        <%= @image.title %>
      </div>
    </div>
  </div>
   <div class="row-fluid">
    <div class="span6">
      <div class="span3">
        <span class="label">Uploaded by :</span>
      </div>
      <div class="span3">
        <%= @image.user.email %>
      </div>
    </div>
  </div>
   <div class="row-fluid">
    <div class="span6">
      <div class="span3">
        <span class="label">Uploaded on :</span>
      </div>
      <div class="span3">
        <%= @image.created_at %>
      </div>
    </div>
  </div>
    <h5>Comments</h5>
    <%= render @image.comments %>
 <%if user_signed_in?%>
  <h5>Add a comment:</h5>
  <%= render "comments/form" %>
 <%end%>
    <br/>
<div/>
