  <%if user_signed_in?%>
  <%end%>
    <div class="image_enlarged">
      <%=link_to( image_tag @image.avatar_url.to_s)%>
    </div>
    <div class="image_title">
     <label>Title :</label>
      <%= @image.title %>
    </div>
    <div class="image_uploadedby">
     <label>Uploaded by :</label>
      <%= @image.uploadedby %>
    </div>
    <div class="image_uploadedby">
     <label>Uploaded on :</label>
      <%= @image.created_at %>
    </div>
    <h2>Comments</h2>
    <%= render @image.comments %>
 <%if user_signed_in?%>
  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
 <%end%>
    <br/>
<div/>
