<%= form_for @image,url: upload_post_image_index_path do |form| %>
  <p>
  <%= form.label :title %>
  <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label "Upload"%>
    <%= form.file_field :avatar%>
  </p>

  <p>
    <%= form.label :uploadedby,"Uploaded by"%>
    <%= form.text_field :uploadedby%>
    </p>
  <p><%= form.submit %></p>
<% end %>
